<app-header title="card"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content> Awesome content </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Pin</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
      labore perspiciatis cumque quibusdam, blanditiis dolores porro sed
      adipisci illum quis atque ullam! Distinctio, atque expedita perferendis
      incidunt harum illum sequi?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img
      src="https://th.bing.com/th/id/OIP.BnoZz3d7sh3DTty9esciZwHaEK?pid=ImgDet&rs=1"
    ></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aut
      consequuntur assumenda minus laudantium doloremque nesciunt vel laborum
      harum exercitationem? Ab, sunt voluptas. Ipsum ratione sed quibusdam
      deserunt illum iusto.
    </ion-card-content>
  </ion-card>
</ion-content>
